@font-face {
	font-family: 'BIG JOHN';
	src: url("../fonts/BIG JOHN.otf");
	src: local('BariolRegular');
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/OpenSans-Light.ttf");
	src: local('OpenSans-Light'), 
	url("../fonts/OpenSans-Light.ttf") format('truetype');
}

@font-face {
	font-family: 'OpenSans-Regular';
	src: url("../fonts/OpenSans-Regular.ttf");
	src: local('OpenSans-Regular'), 
	url("../fonts/OpenSans-Regular.ttf") format('truetype');
}
