*{
	outline: none;
}

h1, h2, h3, h4{
	font-weight: bold;
	font-family: 'BIG JOHN';
	text-transform: uppercase;

}

p{
	font-family: 'OpenSans-Light';
	font-size: 17px;
	line-height: 25px;
}

.wrapper{
	-background-color: #ffd500;
}

header{
	margin: 0 auto;
	max-width: 1280px;
	background-color: #ffd500;
}

nav{
	padding-top: 75px;
	padding-left: 110px;
	letter-spacing: 0.5px;
}

nav li{
	display: inline-block;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	font-family: 'BIG JOHN';

}

nav a{
	text-decoration: none;
	color:black;
	padding: 17px 30px;
	border-radius: 20px;

}
nav a:hover{
	color:#ffd500;
	background-color: #000;
}

.main-slider{
	padding-top: 100px;
	
}


.slick-dots li {
	position: relative;
	left:  100%;
	bottom: 180px;
	display: block;
	margin: 0 -25px;
}

.slick-dots li button {
  border: 3px solid #fff;
  height:1px;
  width:1px;
  border-radius:50%;
  opacity: 0.5;
}
.slick-dots li.slick-active button {
    opacity: 1;
}
.slick-dots li button::before {
    content: " ";
   }

.slid-text h2{
	position: absolute;
	top: 0;
	font-size: 40px;
	font-family: 'BIG JOHN';
	text-align: center;
	padding-left: 376px;
	line-height: 60px;
	letter-spacing: 1.5px;
	text-transform: uppercase;

}

.slid-button::before {
	content:url(../img/shape.png);
	position: relative;
	left: -86px;
	top: -47px;

}

.slid-button {
	padding-left: 525px;
	-z-index: 2;
}

.slid-button a {
	text-decoration: none;
	background-color: #fad663;
	border-radius: 15px;
	padding: 13px 25px;
	position: relative;
	bottom: 0;
	text-transform: uppercase;
	color: black;
	font-family: 'BIG JOHN';
	border: 2px solid black;
	margin-bottom: 25px;
	-z-index: 999;
	opacity: 0.99;
	top: -43px;
	left:-322px;
}

.line{
	background-color: #ffd500;
	padding-bottom: 40px;
	
}
.line-position {
	background-color: #ffd500;
	position: relative;
	width: 24px;
	margin: -39px 597px;
	height: 230px;
}

.line-position:before,.line-position-3:before, .line-position-4:before {
	content: '';
    border: 4px solid black;
    width: 10px;
    height: 41px;
    border-radius: 36px;
    position: absolute;
    padding: 5px;
    left: -11px;
    top: 143px;
}

.works{
	background-color: #fef9fd;
	max-width: 1280px;
	margin: 0 auto;
}

 .what-i-do-title {
	float: left;
    margin: 50px 200px 50px 120px;
    font-size: 60px;
}

.what-i-do-pr {
	margin: -110px -95px 50px 529px;
    width: 618px;

}
.line-position-2 {
	position: relative;
    width: 24px;
    height: 230px;
    left: 597px;
    top: -257px;
}
.shape-bottom{
	position: relative;
	left:-85px;
}

.portpholio,.skill {
	width: 1280px;
	display: flex;
	margin: 0 auto;
	justify-content:space-around;

}

.portpholio-item, .skill-item {
	text-align: center;
	margin-top: 120px;
}

.portpholio-item h3{
	margin-bottom: 25px;
	
}

.portpholio-img, .skill-img {
	margin-bottom: 40px;	
}

.my-works{
	background-color: #fef9fd;
	max-width: 1280px;
	margin: 0 auto;
}

.my-works-title {
	float: right;
    margin: 240px 0 50px 0;
    font-size: 60px;
}

.line-position-3 {
	position: relative;
    width: 24px;
    height: 230px;
    left: 597px;
    top: 125px;
}

.my-works-picture img{
	text-align: center;
	max-width: 1280px;
}

.button-works {
	margin: 50px 41% 0;

}

.button-works a{
	text-decoration: none;
	margin: 0 auto;
	border-radius: 15px;
	padding: 13px 25px;
	text-transform: uppercase;
	color: black;
	font-family: 'BIG JOHN';
	border: 2px solid black;
	margin-bottom: 25px;
	z-index: 999;
	opacity: 0.99;
	background-color: #fff;
	
}

.what-i-do {
	padding-top: 80px;
}

.button-works::before {
	content:url(../img/shape.png);
	position: relative;
	left: -86px;
	top: 19px;

}

.line-position-4 {
	position: relative;
    width: 24px;
    height: 230px;
    left: 597px;
    top: -257px;
}

 .line-position-4:before {
	content: '';
    border: 4px solid black;
    width: 10px;
    height: 41px;
    border-radius: 36px;
    position: absolute;
    padding: 5px;
    left: -11px;
    top: 400px;
}

.skill-item h3 {
	margin-bottom: 8px;
	font-size: 48px;	
}

.skill-item h4 {
	margin-bottom: 8px;
	font-size: 18px;	
}





